---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import MeetTheTeam from '~/components/widgets/MeetTheTeam.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
  call2ActionLink: SITE.betaURL,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero2
  callToAction={{ text: 'Join Beta', href: meta.call2ActionLink, icon: 'tabler:hand-click' }}
  callToAction2={{ text: 'Learn more', href: '#features' }}
  image={{ src: import('~/assets/images/wait-in-line.png'), alt: meta.title }}
  >
    <Fragment slot="title">
      Say goodbye to long waiting time<span class="hidden lg:inline"> and customer drop-off</span> with
      <span class="text-accent dark:text-white highlight"> eskip</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">eskip</span> is the First ever Philippine-made POS system, conceived, and proudly developed by Filipinos.</span
      >
    </Fragment>
  </Hero2>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Features"
    title="What you get with eskip?"
    subtitle="Here are some key features that we provide for your customers:"
    items={[
      [
        {
          title: 'Digital Menus',
          description:
            'Enables easy and real-time updates of menu items, prices, and promotions. The app can display restaurant menus in a digital format that customers can easily access and navigate.',
          icon: 'tabler:tools-kitchen-2',
        },
        {
          title: 'Contactless Ordering',
          description:
            'Streamlines order taking and processing, leading to faster service and higher table turnover. The app can allow customers to place their orders directly from their mobile devices.',
          icon: 'tabler:clipboard-list',
        },
        {
          title: 'Digital Payments',
          description:
            'Reduces the need for cash handling, leading to more secure and efficient payment processing. Pay with GCash, Maya and PayWave Visa/MasterCard.',
          icon: 'tabler:wallet',
        },
      ],
      [
        {
          title: 'Order Status Updates',
          description:
            'Improves communication and transparency between the restaurant and the customer, leading to higher customer satisfaction.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Queues and Reservations',
          description:
            'Reduces wait times and manages customer flow, leading to a more organized and efficient dining experience. The app can allow customers to join a virtual queue or make reservations for a specific time slot.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Customer Feedback',
          description:
            'Enables restaurant owners and managers to track customer satisfaction and identify areas for improvement',
          icon: 'tabler:message-dots',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="3 Proven Benefits"
    title="And what's inside? ..."
    items={[
      {
        title: 'Increased Revenue and Save from P100,000',
        description:
          'Skip the traditional point-of-sales system ',
      },
      {
        title: 'Customers Can Order Within 20 seconds',
        description:
          'Not everyone is willing to wait',
      },
      {
        title: 'Reduce Customer Drop Off Rate by 50%',
        description:
          'Instant order confirmation, instant payment validation',
      },
    ]}
    image={{
      src: import('~/assets/images/features-1.jpeg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">with eskip</h3>
      you will enjoy a smoother and more streamlined experience for your customers and businesses.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->


  <!-- Steps Widget ****************** -->

  <Steps
    title="How eskip works?"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download the app</span>',
        description:
          'Customers can download the app from the app store or Google Play Store on their smartphone or tablet.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/how-it-works.webp'),
      alt: 'How eskip works?',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Full features"
    subtitle="Efficient operations and reduced costs"
    highlight="Components"
    items={[
      {
        title: 'Custom Dashboard',
        description:
          'Your business. Your data. Customize your dashboard based on your business priorities and opportunities.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Digital Menu',
        description:
          'Upload and manage your menu and products. Don\'t have one? eskip team is here to help.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Staff Performance',
        description:
          'Track staff performance and productivity, such as order processing time or table turnover rate, leading to better performance management and training opportunities.',
        icon: 'flat-color-icons:conference-call',
      },
      {
        title: 'Analytics',
        description:
          'Provide valuable insights into customer behaviour, preferences, and trends through data analysis to improve  business decisions and strategies.',
        icon: 'flat-color-icons:pie-chart',
      },
      {
        title: 'Marketing',
        description:
          'Create targeted marketing campaigns and promotions based on customer data, such as contact information and order history. No more wasted marketing money.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Sales',
        description:
          'Generate sales reports that provide detailed insights into sales performance, such as revenue by product or sales by time of day.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'View realtime or after-service customer feedback to help you improve your products and services.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Secured Customer Data',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Queueing and Reservations',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:serial-tasks',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={``}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md'
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

   <!-- MeetTheTeam Widget ****************** -->
   <MeetTheTeam 
   highlight="About Us"
   title="Meet the team"
   subtitle="Built by a team with years of experience across wide areas of expertise"
   items={[
     [
       {
         name: 'Dalvin Chapoco',
         position:
           'Developer & Founder',
          image: '/team/male-placeholder.png',
         links: [
          {
            icon:'tabler:brand-linkedin',
            url:'https://www.linkedin.com/in/dalvin-chapoco-a728223b/'
         },
         {
            icon:'tabler:brand-instagram',
            url:'https://www.instagram.com/dalvin_chapoco/'
         },
         {
            icon:'tabler:world-upload',
            url:'https://dalvinchapoco.com'
         },
        ]
       },
       {
         name: 'Herzon Garlan',
         position:
           'Developer & Co-Founder',
           image: '/team/Herzon-Garlan.png',
         links: [
          {
            icon:'tabler:brand-linkedin',
            url:'https://www.linkedin.com/in/herzongarlan/'
         },
         {
            icon:'tabler:brand-instagram',
            url:'https://www.instagram.com/herzgarlan/'
         },
         {
            icon:'tabler:world-upload',
            url:'https://herzongarlan.com'
         },
        ]
       },
       {
         name: 'Mark Garcia',
         position:
           'Developer & Co-Founder',
         image: '/team/male-placeholder.png',
         links: [
          {
            icon:'tabler:brand-linkedin',
            url:'https://www.linkedin.com/in/herzongarlan/'
         },
         {
            icon:'tabler:brand-instagram',
            url:'https://www.instagram.com/herzgarlan/'
         },
         {
            icon:'tabler:world-upload',
            url:'https://herzongarlan.com'
         },
        ]
       },
       {
         name: 'Kathy Alcala',
         position:
           'Marketing & Co-Founder',
         image: '/team/kathy-alcala-CMO.jpg',
         links: [
          {
            icon:'tabler:brand-linkedin',
            url:'https://www.linkedin.com/in/herzongarlan/'
         },
         {
            icon:'tabler:brand-instagram',
            url:'https://www.instagram.com/herzgarlan/'
         },
         {
            icon:'tabler:world-upload',
            url:'https://herzongarlan.com'
         },
        ]
       },
       {
         name: 'Christopher Bables',
         position:
           'Infra & Co-Founder',
          image: '/team/male-placeholder.png',
         links: [
          {
            icon:'tabler:brand-linkedin',
            url:'https://www.linkedin.com/in/dalvin-chapoco-a728223b/'
         },
         {
            icon:'tabler:brand-instagram',
            url:'https://www.instagram.com/dalvin_chapoco/'
         },
         {
            icon:'tabler:world-upload',
            url:'https://dalvinchapoco.com'
         },
        ]
       },
     ],
   ]}
   />

  <!-- Stats Widget ****************** -->

  <!--Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /-->
 <!--
  <Partners 
  highlight="Testimonials"
  title="Hear from our Partners"
  subtitle="Don't just take our word for it."
  />
   -->  

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{ text: 'Join Beta', href: meta.call2ActionLink, icon: 'tabler:hand-click' }}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap text-accent dark:text-white highlight">eskip</span> is currently in beta.
    </Fragment>

    <Fragment slot="subtitle">
      Experience 
    </Fragment>
  </CallToAction>
</Layout>
